/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/* root color variables*/
:root {
    --clr-dark: #333;
    --clr-gray: #808080;
    --clr-light: #eef5f1;
    --clr-green: #42F584;
    --clr-blue: #4BB6FF;
    --clr-orange: #FF9A00;
    --clr-grd: linear-gradient(#FF9A00, #42F584, #4BB6FF, #0e110e 50%);
    --clr-grd-f: linear-gradient(#FF9A00, #42F584, #4BB6FF);
}

/* ---- Base Rules ---- */
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg,
     var(--clr-green) 0%,
      var(--clr-blue) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: var(--clr-light);
}

*,
*::before,
*::after {
    box-sizing: border-box; /*to play with margins and padding freely*/
}


/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 7em;
    margin: 2em 4rem 1em;
}

h2 {
    border-bottom: 1px solid var(--clr-orange);
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: var(--clr-light);
}

p {
    line-height: 1.6em;
    color: var(--clr-light);
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main__hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
    margin: 2rem 1rem;
    box-shadow: 0 0 10px var(--clr-dark);
    border-radius: 2rem;
    transition: all 500ms ease-in-out;
}

/* section motion */
section:hover {
    box-shadow: 0 0 10px var(--clr-dark),
    0 10px 10px var(--clr-dark);
    transform: scale(1.02);
}

/* section background */ 
section::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 50%;
    z-index: -1;
    background-color: var(--clr-dark);
    border-radius: 2rem;
}

/* Navigation Styles*/
.navbar__menu::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(75, 182, 255, 40%);
    border-bottom: 1px solid var(--clr-dark);
    z-index: -1;
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list__navList {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
    text-align: right;
    max-height: 25rem;
    min-width: 80%;
    margin: 0;
    margin-right: 1rem;
    opacity: 1;
}

.navbar__menu .menu__link {
    cursor: pointer;
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: var(--clr-dark);
}

.navbar__menu .menu__active {
    background: var(--clr-dark);
    color: var(--clr-light);
    transition: all 200ms ease-in-out;
}

.navbar__menu .menu__link:hover {
    background: var(--clr-dark);
    color: var(--clr-light);
    transition: all 200ms ease-in-out;
}

/* hamburger menu style */
.navbar__menuBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    cursor: pointer;
}

.navbar__hamburger {
    position: relative;
    display: none;
    width: 2rem;
    height: 2rem;
}

.navbar__hamburger span {
    height: 2px;
    width: 1.5rem;
    display: block;
    position: relative;
    background-color: var(--clr-dark);
    margin: 6px;
    transform-origin: 0.5px 0.5px;
}

/* hamburger menu switching styles */
.open span:first-child{
    transform: rotate(45deg);
}

.open span:nth-child(2){
    opacity: 0;
}

.open span:last-child{
    transform: rotate(-45deg);
}

.opened {
    display: flex;
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    max-height: 25rem;
    width: fit-content;
    background-color: var(--clr-light);
    align-self: center;
    text-align: center;
    right: 2em;
    top: 3.3rem;
    padding: 1px;
}

/* new section button styles */ 
.navbar__addBtn {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    position: relative;
    height: 100%;
    width: 10rem;
    margin-left: 1rem;
    margin-bottom: 0;
    background-color: transparent;
    color: var(--clr-dark);
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.navbar__addBtn:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

/* to top button styles */
.main__totop {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    display: none;
    z-index: 5;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    border: none;
    background-color: transparent;
    padding: 0;
    height: 3.5rem;
    width: 3.5rem;
    opacity: 0.3;
    transition-duration: 200ms;
    cursor: pointer;
}

.main__totop:hover {
    opacity: 1;
    color: var(--clr-blue);
    text-shadow: 0 5px 5px var(--clr-dark);
    transform: scale(1.2);
    
}

/* Header Styles */
.page__header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: var(--clr-dark);
    padding: 3em;
    color: var(--clr-light);
}

.page__footer p{
    color: var(--clr-light);
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
    width: 100%;
}



section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: 4;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */
section.active {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: 0 0 10px var(--clr-dark),
    0 10px 10px var(--clr-dark);
    transform: scale(1.02);
}

section.active .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.active .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* switch view to tablet */
@media only screen and (max-width: 60rem) {
    h1 {
        font-size: 4.5rem;
        margin: 2.5em 1.5rem;
    }

    .list__navList {
        display: none;
    }
    
    .navbar__hamburger {
        display: block;
    }

    .landing__container {
        padding: 1em;
    }

    .navbar__addBtn:hover {
        background-color: transparent;
        color: var(--clr-dark);
    }
    .navbar__addBtn:active {
        background-color: var(--clr-dark);
        color: var(--clr-light);
    }

    .main__totop:hover {
        opacity: 0.3;
        color: var(--clr-dark);
        transform: scale(1);
    }
    .main__totop:active {
        background-color: var(--clr-dark);
        color: var(--clr-light);
        opacity: 1;
    }
}

/* switch view to mobile */
@media only screen and (max-width: 40em){
    h1 {
        font-family: 'Fira Sans', sans-serif;
        font-size: 3rem;
    }
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}
